<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Logo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,161},{429,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{429,161}}</string>
                <key>sourceSize</key>
                <string>{429,161}</string>
            </dict>
            <key>Logo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{429,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{429,161}}</string>
                <key>sourceSize</key>
                <string>{429,161}</string>
            </dict>
            <key>btn_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,736},{204,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,204}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,286},{63,63}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{63,63}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>btn_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,890},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{100,100}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>btn_long.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,449},{540,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{540,106}}</string>
                <key>sourceSize</key>
                <string>{544,106}</string>
            </dict>
            <key>btn_main.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,426},{295,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{295,294}}</string>
                <key>sourceSize</key>
                <string>{299,298}</string>
            </dict>
            <key>btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,449},{287,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{287,105}}</string>
                <key>sourceSize</key>
                <string>{291,107}</string>
            </dict>
            <key>btn_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,349},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{100,100}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,0},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>grid1.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,736},{154,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,154}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>icon_medal.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,182},{52,70}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,70}}</string>
                <key>sourceSize</key>
                <string>{52,74}</string>
            </dict>
            <key>icon_medal_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,234},{52,70}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,70}}</string>
                <key>sourceSize</key>
                <string>{52,74}</string>
            </dict>
            <key>icon_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,114},{68,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{68,72}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>icon_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,44},{72,70}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{72,70}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>icon_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,0},{44,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{44,74}}</string>
                <key>sourceSize</key>
                <string>{48,78}</string>
            </dict>
            <key>ui_timebar.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,322},{408,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,104}}</string>
                <key>sourceSize</key>
                <string>{408,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sheet.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ff42ae46a447d51d077735385a23b80$</string>
            <key>textureFileName</key>
            <string>sheet.png</string>
        </dict>
    </dict>
</plist>
